@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #01352c;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer-container{
    position: relative;
    background-color: #ffffff;
    width: 16rem;
    height: 19rem;
    /* padding: 1.5rem; */
    border-radius: .5rem;
}

h3{
    width: 100%;
    background-color: #61b390;
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 0.25rem;
    border-radius: .5rem .5rem 0 0;
}
.inner-container{
    padding: 1rem;
}

.user-input .username {
    display: flex;
    justify-content: left;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.user-input .username input{
    height: 30px;
    padding-left: 5px;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.user-input .username input:hover{
    cursor: pointer;
    border: 1px solid #61b390;
}

.user-input .new-username{
    position: relative;
    margin-bottom: 0.5rem;
}
.user-input .new-username input{
    display: flex;
    height: 30px;
    width: 93%;
    padding-left: 5px;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.user-input .new-username input:hover{
    cursor: pointer;
    border: 1px solid #61b390;
}

.user-input .username .name{
    width: 100px;
    display: flex;
}

.user-input .password{
    position: relative;
    margin-bottom: 0.5rem;
}

.user-input .password input{
    height: 30px;
    width: 93%;
    padding-left: 5px;
    outline: none;
    border: 1px solid lightgray;
    border-radius:  5px;
}

.user-input .password input:hover{
    cursor: pointer;
    border: 1px solid #61b390;
}

.btn{
    height: 30px;
    width: 100%;
    background-color: #61b390;
    color: #fff;
    font-size: 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-top: 0.75rem;
}

.btn:hover{
    background-color: #01352c;
}